@model Intervue.Models.ViewModels.SpeechViewModel;

<form asp-action="Speech" method="post">
    <div>
        <textarea asp-for="ResultMessage" type="text" value="@Model.ResultMessage"></textarea>
    </div>

    <div class="file_download">
        <label asp-for="FileName">Save Your File</label>
        <input asp-for="FileName" type="text" value="Untitled.txt" />
    </div>

    <div>
        <button type="submit">Download</button>
    </div>
</form>