@model Intervue.Models.ViewModels.SpeechViewModel;

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>

<h2>@Model.PromptMessage</h2>

<a class="btn btn-info btn-lg btn-block" asp-controller="Transcription" asp-action="Speech" OnClick="">Click here to start recording</a>

<form asp-action="Speech" method="post">
    <div>
        <label asp-for="ResultMessage">Result: </label>
        <textarea asp-for="ResultMessage" type="text" value="@Model.ResultMessage"></textarea>
    </div>

    <div>
        <label asp-for="FileName">File name: </label>
        <input asp-for="FileName" type="text" value="speech" />
    </div>

    <div>
        <button type="submit">Download</button>
    </div>
</form>