@model Intervue.Models.ViewModels.LoginViewModel

@{ 
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" method="post">

    <div>
        <input asp-for="Email" type="text" placeholder="Email" required />
    </div>  
    <div>
        <input asp-for="Password" type="password" placeholder="Password" required />
    </div>

    <div>
        <button id="record_button" type="submit">Login</button>
    </div>

</form>