@model Intervue.Models.ViewModels.RegistrationViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>New Account</h1>

<form asp-action="Register" method="post">

    <div>
        <input asp-for="FirstName" type="text" placeholder="First Name" required />
    </div>
    <div>
        <input asp-for="LastName" type="text" placeholder="Last Name" required />
    </div>
    <div>
        <input asp-for="Email" type="email" placeholder="Email" required />
    </div>
    <div>
        <input asp-for="Password" type="password" placeholder="Password" required />
    </div>
    <div>
        <input asp-for="ConfirmPassword" type="password" placeholder="Re-type Password" required />
    </div>
    <div>
        <button id="record_button" type="submit">Register</button>
    </div>
</form>