<div class="home-toggle">

    @{
        ViewData["Title"] = "Home Page";
    }

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>

    @*moved this link to Speech.cshtml
        <a asp-controller="Transcription" asp-action="Speech" OnClick="">Click here to start recording</a>*@

    <div id="loader">
        <h2>Please speak</h2>
    </div>
</div>