@{
    ViewData["Title"] = "Intervue";
}

<a id="modal" asp-controller="Transcription" asp-action="Speech">Record</a>
<div class="modal-container">
	<div id="modalPop" class="modal-window">
		<div class="sliders">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>

<script type="text/javascript">
	var aTag = document.getElementById("modal");
	aTag.addEventListener("click", function (event) {
		location.hash = "#modalPop";
	})
</script>

