@{
    ViewData["Title"] = "Intervue";
}

<div class="modal-container">
	<div id="modalPop" class="modal-window">
		<div class="sliders">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
<a id="record_button" asp-controller="Transcription" asp-action="Speech">Record</a>
<h1 id="record_title">Intervue : The Transcription AI</h1>
<h2 id="record_message">To try it out, click the button and start speaking.</h2>

<script type="text/javascript">
	var aTag = document.getElementById("record_button");
	aTag.addEventListener("click", function (event) {
		location.hash = "#modalPop";
	})
</script>

