@{
    ViewData["Title"] = "Intervue";
}

<div class="modal-container">
	<div id="modalPop" class="modal-window">
		<div class="sliders">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
<a id="record_button" asp-controller="Transcription" asp-action="Speech">Record</a>

<script type="text/javascript">
	var aTag = document.getElementById("record_button");
	aTag.addEventListener("click", function (event) {
		location.hash = "#modalPop";
	})
</script>

