@{
    ViewData["Title"] = "Intervue";
}

    <a id="modal" class="btn btn-info btn-lg" asp-controller="Transcription" asp-action="Speech">Record</a>
<div onclick="modalClick()" id="modal-recording">
    <a href="#modalPop">recording</a>
</div>
    
<div id="modalPop" class="modal-window">
    <div>
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>

            <div class="covers">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
	var aTag = document.getElementById("modal");
	aTag.addEventListener("click", function (event) {
		location.hash = "#modalPop";
	})
</script>

<div id="loader">
    <h2>Please speak</h2>
</div>

